xsd/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="btn">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="label"/>
          <xs:attribute type="xs:string" name="t"/>
          <xs:attribute type="xs:string" name="l"/>
          <xs:attribute type="xs:string" name="r"/>
          <xs:attribute type="xs:string" name="hc"/>
          <xs:attribute type="xs:string" name="b"/>
          <xs:attribute type="xs:string" name="vc"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
</xs:schema>